{{ define "title" }}{{ .Title }} - {{ .Params.category_key }} - Software Collect - Zeal 8-bit Computer{{ end }}
{{ define "main_class" }}screen screen--project-detail{{ end }}

{{ define "main" }}
  {{- partial "misc/titlebar.html" (dict "title" "ZEAL BBS // NODE 01" "section" "PROJECT.DETAIL") -}}

  <h1>{{ .Title }}</h1>
  <section class="intro">
  {{ .Content }}
  </section>

  {{- partial "project/project-sections.html" (dict "page" . "mode" "page") -}}

  <footer class="titlebar">
    <a href="{{ printf "/%s/" .Params.category_key }}">Back to category</a>
    <a href="/">Back to collection index</a>
  </footer>
{{ end }}
