{{- $page := .page -}}
{{- $project := default (dict) (index $page.Params "project") -}}
{{- $metadata := default (dict) (index $project "metadata") -}}
{{- $author := default (dict) (index $metadata "author") -}}
{{- $screenshots := slice -}}
{{- with (index $metadata "screenshot") -}}
  {{- if reflect.IsSlice . -}}
    {{- $screenshots = . -}}
  {{- else -}}
    {{- $screenshots = $screenshots | append . -}}
  {{- end -}}
{{- end -}}
{{- with (index $metadata "screenshots") -}}
  {{- if reflect.IsSlice . -}}
    {{- range . -}}
      {{- $screenshots = $screenshots | append . -}}
    {{- end -}}
  {{- else -}}
    {{- $screenshots = $screenshots | append . -}}
  {{- end -}}
{{- end -}}

{{- partial "project/section-screenshots.html" (dict "title" $page.Title "screenshots" $screenshots) -}}
{{- partial "project/section-details.html" (dict "project" $project "author" $author) -}}
{{- partial "project/section-additional-fields.html" (dict "project" $project "metadata" $metadata "author" $author) -}}
