---
layout: false
permalink: /README.md
---

{%- macro entry(name, repo, author, author_link, description, wip=false, hw=false, deprecated=false) %}
* {% if deprecated %}~~{% endif %}[{{ name | safe }}]({{ repo }}) by [@{{ author }}]({{ author_link }}){% if wip %} ⚠️{% endif %}{% if hw %} 🪛{% endif %}: {{ description | safe }}{% if deprecated %}~~ **DEPRECATED**{% endif -%}
{% endmacro -%}

## Zeal 8-bit Computer software collection

In this repository, you will find a list of existing software for Zeal 8-bit Computer.

Projects marked with:

* 🪛 involve a hardware extension.
* ⚠️ involve a *Work In Progress* state, may not be usable yet.
{% for category, items in collection.categories %}
### {{ category | capitalize | pre_emoji }}
{% for item in items -%}
{%- set metadata = item.metadata -%}
{{ entry(metadata.name, item.repo,
         metadata.author.name, metadata.author.link,
         metadata.description,
         metadata.flags | includes("work_in_progress"),
         metadata.flags | includes("hardware_extension"),
         metadata.flags | includes("deprecated"))
}}
{%- endfor %}
{% endfor %}

## Add your project to the list!

To add your project to the list above, feel free to open a pull request to update the `collection.yml` file.